<p class="text-green-500"><%= notice %></p>
<p class="text-red-500"><%= alert %></p>

<h1 class="text-2xl font-bold">Sign in</h1>

<%= form_with(url: sign_in_path, class: 'space-y-4') do |form| %>
  <div class="flex flex-col">
    <%= form.label :email, class: "block text-lg font-medium" %>
    <%= form.email_field :email, value: params[:email_hint], required: true, autofocus: true, autocomplete: "email", class: "border p-2 rounded" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :password, class: "block text-lg font-medium" %>
    <%= form.password_field :password, required: true, autocomplete: "current-password", class: "border p-2 rounded" %>
  </div>

  <div>
    <%= form.submit "Sign in", class: "bg-blue-500 text-white p-2 rounded cursor-pointer hover:bg-blue-600" %>
  </div>
<% end %>

<br>

<div class="mt-4">
  <%= link_to "Sign up", sign_up_path, class: "text-blue-500 hover:underline" %> |
  <%= link_to "Forgot your password?", new_identity_password_reset_path, class: "text-blue-500 hover:underline" %>
</div>
