<% if Current.user %>
  <aside class="bg-sky-800 w-64 flex-none">
    <ul class="space-y-2 p-4">
      <%= link_to portfolios_path, class: 'block text-white hover:bg-sky-600 px-4 py-2 rounded transition-colors' do %>
        <i class="fas fa-tachometer-alt"></i> <!-- if you use Font Awesome or similar -->
        <span>Portfolio</span>
      <% end %>
      <%= link_to stocks_path, class: 'block text-white hover:bg-sky-600 px-4 py-2 rounded transition-colors' do %>
        <i class="fas fa-chart-line"></i> <!-- if you use Font Awesome or similar -->
        <span>Market</span>
      <% end %>
      <% if current_user %>
        <%= link_to user_transactions_path(current_user), class: 'block text-white hover:bg-sky-600 px-4 py-2 rounded transition-colors' do %>
          <i class="fas fa-chart-line"></i> <!-- if you use Font Awesome or similar -->
          <span>Transactions</span>
        <% end %>
      <% end %>
      <% if Current.user.role == "Admin" %>
        <%= link_to "#", class: 'block text-white hover:bg-sky-600 px-4 py-2 rounded transition-colors' do %>
          <i class="fas fa-users"></i>
          <span>Users</span>
        <% end %>
        <%= link_to "#", class: 'block text-white hover:bg-sky-600 px-4 py-2 rounded transition-colors' do %>
          <i class="fas fa-check-circle"></i>
          <span>Approvals</span>
        <% end %>
      <% end %>
    </ul>
  </aside>
<% end %>
